mixin _post(post, authUser)
  article.post
    header.post__header
      .post__user-header-wrapper
      a(href='/' + post.handle)
        p.post__username 
          | #{post.handle}
    .post__main-image
      img(src=post.imageUrl)
    .post__footer
      p.post__comment 
        span.post__comment-username #{post.handle}
        | #{post.caption}
      .post__new-comment
        textarea(name='comment' data-post-id=post.id rows='1' placeholder='Add a comment...')
        button.tertiary(data-auth=Boolean(authUser)) Post