include _comment
include icons

mixin _post(post, authUser, isStandAlone)
  article(class=`post${isStandAlone ? '--standalone' : ''}`)
    header.post__header
      .post__user-header-wrapper
        img(src=`https://www.gravatar.com/avatar/${post.avatar}?d=identicon&s=40`, alt='user profile picture')
      a(href='/' + post.handle)
        p.post__username 
          | #{post.handle}
    .post__main-image
      img(src=`https://hashgram.s3.amazonaws.com/user-content/${post.imageUid}`)
    .post__info
      .post__actions
        - let className = post.liked ? 'post__actions-likes--liked' : ''
        - let action = post.liked ? 'unlike' : 'like'
        .post__actions-likes(
          class=className 
          data-action=action
          data-post-id=post.postId 
          data-auth=Boolean(authUser))
          +activityIcon()
        .post__actions-saved
          +savedIcon()
      .post__likes(class=post.likes && post.likes.length > 0 ? '' : 'post__likes--hidden')
          | Liked by 
          span.post__like-count #{post.likes ? post.likes.length : 0}
          |&nbsp;others
    .post__comments
      +_comment(post.handle, post.caption)
      if (post.comments)
        - let newestComments = isStandAlone ? post.comments : post.comments.slice(-2)
        each comment in newestComments
          +_comment(comment.handle, comment.body)
    .post__footer
      .post__new-comment
        textarea(name='comment' data-post-id=post.postId rows='1' placeholder='Add a comment...')
        button.tertiary(data-auth=Boolean(authUser)) Post