mixin _profile_header(user, authUser)
  .profile__header-image
    .profile__image-wrapper
      img(src=`https://www.gravatar.com/avatar/${user.avatar}?d=identicon`, alt='user profile picture')
  - let ownProfile = authUser && authUser.handle == user.handle 
  .profile__header-title(class=ownProfile ? 'profile__header-title--own-profile' : '')
    span.profile__header-handle #{user.handle}
    if (authUser)
      if (authUser.handle != user.handle)
        if (user.isFollowing)
        - var label = user.isFollowing ? 'unfollow' : 'follow'
          button(class=`profile__follow-btn` data-user-handle=user.handle data-action=label) #{label}
      else 
        button.secondary 
          a(href='/edit-profile')
            | Edit Profile
        button.tertiary 
          a(href='/signout')
            | Logout
  .profile__header-stats
    .profile__posts
      div #{user.postsCount} 
      .profile__stats-label posts
    .profile__followers
      div 
      span.profile__follower-count #{user.followersCount}
      .profile__stats-label followers
    .profile__following
      div #{user.followingCount}
      .profile__stats-label following
  .profile__header-about
    .profile__name
      | #{user.firstName}
    .profile__bio
      | #{user.bio}