mixin _text-input(form, field, placeholder, previousFill)
  label.sr-only(for=`${field}`) #{field}
  input(
    class=`${form}-form__input` 
    name=`${field}` 
    type=(field.includes('password') ? 'password' : 'text') 
    placeholder=(placeholder || '')
    value=(previousFill || '')
  )